body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {  
  display: block;
}

textarea{
  display: block;
  width: 100%;
}

input{ 
  width: 100%;
}

button{
  margin: 10px 10px 10px 0px;
}