<div ng-if="$ctrl.article">
    <h3>{{$ctrl.article.title}}</h3>
    <div>{{$ctrl.article.description}}</div>
    <button type="button" class="btn" ng-link="['ArticleList']">Back</button>
    <button type="button" class="btn btn-danger" ng-click="$ctrl.delete()">Delete</button>
</div>


<!--
<button type="button" class="btn btn-link" ng-click="$ctrl.view()"><h3>{{ $ctrl.data.title }}</h3></button>
<div>
    Description: {{ $ctrl.data.description}}
</div>
<button type="button" class="btn btn-danger" ng-click="$ctrl.delete()">Delete</button>
-->

