<h2>Auth</h2>
<div class="row">
    <div class="col-md-2">
        <h3>Login</h3>
        <form name="loginForm" ng-submit="$ctrl.login()">
            <div class="form-group">
                <input type="email" name="email" class="form-control" placeholder="Email" ng-model="$ctrl.login.user.email" required>     
                <!--span class="validation-error" ng-show="loginForm.email.$error.email">Email adress is invalid!</span-->              
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" ng-model="$ctrl.login.user.password" required>
            </div>
            <button type="submit" class="btn btn-info">Sign in</button>
        </form>
    </div>
    <div class="col-md-2">
        <h3>Register</h3>
        <form name="registrationForm" ng-submit="$ctrl.register()">
            <div class="form-group">
                <input name="email" type="email" class="form-control" placeholder="email" ng-model="$ctrl.registration.user.email" required>                   
            </div>
            <div class="form-group">
                <input name="password" type="password" class="form-control" placeholder="Password" ng-model="$ctrl.registration.user.password" required>
            </div>
            <div class="form-group">
                <input name="confirmPassword" type="password" class="form-control" placeholder="Confirm Password" 
                ng-model="$ctrl.registration.user.confirmPassword" is-equal-to="$ctrl.registration.user.password" required>
                <span class="validation-error" ng-show="registrationForm.confirmPassword.$error.isEqualTo">Passwords don't match!</span>
            </div>
            <button type="submit" class="btn btn-primary">Sign up</button>
        </form>
    </div>
</div>